<div class="container">
  <h1 class="my-3"><%= @patient.name %></h1>
  <div class="my-2">
    <b>Department:</b> <%= @patient.dept %>
</div>

  <div class="my-2">
    <b>Age:</b> : <%= @patient.age.to_s %>
  </div>

  <div class="my-2">
    <b>Phone no.:</b> <%= @patient.phone %>
  </div>

  <div class="my-2">
    <b>E-mail:</b> <%= @patient.email %>
  </div>

  <div>

  </div>

</div>